<ion-modal-view style="background-color: transparent">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Hey there, first timer!
      </div>
      <div class="item item-text-wrap">
        I love to learn about all kinds of things.
        Here's a few lists of things I'm into...

        <button
          class="button button-clear ion-center ion-thumbsup button-block button-balanced"
          ng-click="seenLearning()">
          Okay, cool!
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
