<ion-view view-title="Learning">
  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Interests" href="#/app/learning/interests" icon-on="ion-ios-lightbulb" icon-off="ion-ios-lightbulb-outline">
      <ion-nav-view name="interests-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Books" href="#/app/learning/books" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
      <ion-nav-view name="books-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Podcasts" href="#/app/learning/podcasts" icon-on="ion-ios-mic" icon-off="ion-ios-mic-outline">
      <ion-nav-view name="podcasts-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
