<!-- <ion-view view-title="Music">
  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Stuff I Listen To" href="#/app/music/listen" icon-on="ion-ios-musical-notes" icon-off="ion-ios-musical-notes-outline">
      <ion-nav-view name="listen-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Things I Play" href="#/app/music/play" icon-on="ion-ios-music-note" icon-off="ion-ios-musical-note-outline">
      <ion-nav-view name="play-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view> -->

<ion-view view-title="Music">
  <ion-content>
    I love to play and listen to all kinds of music. Soon you'll see what...
  </ion-content>
</ion-view>
